.navbar_top_seller_container {
  position: fixed;
  top: 0;
  left: 180px;
  right: 0;
  height: 80px;
  background-color: #fff;
  z-index: 1000;
}
.btn_log_out_seller {
  background-color: transparent;
  border: 1px solid #000;
  border-radius: 5px;
  position: absolute;
  bottom: 30px;
  right: 30px;
  height: 30px;
  width: 100px;
  transition: all 0.3s;
}
.btn_log_out_seller:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
